@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

:root {
  --black: #010101;
  --pink: #FF9393;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1, p, span {
  color: var(--black);
}
